body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
  header {
    background: darkblue;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
  }
  
  main {
    background: rgb(9, 198, 240);
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: rgb(33, 240, 167);
    grid-column: 3 / 4;
  }
  
  footer {
    background: gray;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  